.products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
}

.background-img {
  position: absolute;
  z-index: -9999;
}

.background-img img{
  width: 100vw;
  height: 90vh;
}
