<app-header></app-header>
<div class="background-img">
  <img src="../../../../assets/places.jpg" alt="" />
</div>
<div class="container">
  <swiper-container
    class="swiper"
    [loop]="true"
    [navigation]="true"
    [pagination]="{ clickable: true }"
  >
    <swiper-slide class="slide">
      <img src="../../../../assets/lencois.jpg" alt="" />
      <div class="slide-text">
        <h1>Lençóis Maranhenses</h1>
        <ul>
          <li>3 days 3 nights</li>
          <li>Dinner and breakfast included</li>
          <li>Transportation</li>
          <li>Tour guide</li>
        </ul>
        <p>Per person <span>$1099,00</span></p>
      </div>
    </swiper-slide>
    <swiper-slide class="slide">
      <img src="../../../../assets/fumacinha.jpg" alt="" />
      <div class="slide-text">
        <h1>Ibicoara</h1>
        <ul>
          <li>3 days 3 nights</li>
          <li>Dinner and breakfast included</li>
          <li>Transportation</li>
          <li>Tour guide</li>
        </ul>
        <p>Per person<span> $1199,00</span></p>
      </div>
    </swiper-slide>
    <swiper-slide class="slide">
      <img src="../../../../assets/caldas-novas.jpg" alt="" />
      <div class="slide-text">
        <h1>Caldas Novas</h1>
        <ul>
          <li>3 days 3 nights</li>
          <li>Dinner and breakfast included</li>
          <li>Transportation</li>
          <li>Tour guide</li>
        </ul>
        <p>Per person<span>$1299,00</span></p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
